
.calendar-container {
    width:80% ;
    height: 800px;
    position: absolute;
    top: 0%;
    left: 20%;
    display: flex;
   
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    
    color: black !important;
  }.rojo{
    background-color: rgb(8, 249, 8);
  }.verde{
background-color: rgb(248, 41, 13);
  }DatePicker{
    background-color: rgb(242, 127, 127) !important;
   scale: 2;
}
  
  .calendar {
    text-decoration: none !important;
   
    position: absolute;
    top: 30%;
    right: 20%;
    width: 100%;
    scale: 2;
    text-align: center;
  }
  
  .calendar h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color:black !important;
  }
  
  .calendar p {
    font-size: 16px;
  }
  
  .time-selection {
       
   position: absolute;
   top: 35%;
   left:60%;
    width: 30%;
    text-align: center;
    margin-top: 20px;
  }
  
  .time-selection h2 {
    color: black !important;
    border-radius: 20px;
    font-size: 24px;
    margin-bottom: 10px;

  }
  
  select {
    
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .save-button >button {
    text-decoration: none !important;
    color: aliceblue;
 position: absolute;
 top: 50%;
 left: 70%;
    text-align: center;
    margin-top: 20px;
  }
  
  .save-button> button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: rgb(68, 72, 70);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
  }
  
  .save-button>button:hover {
    
    background-color: #f3eb02;
    color: black ;

  }
  
  .selection-summary {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(248, 248, 2);
    top: 60%;
    width: 350px;
    padding: 20px;
    left: 59%;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .selection-summary h3 {
    color: rgb(248, 248, 2);
    font-size: 24px;
  }
  
  .selection-summary p {
    color: rgb(248, 248, 2);
    font-size: 16px;
  }
  
  

  .time-option.reserved-time {
    background-color: red;
    color: white;
  }