.footer1{
   display: flex;
   justify-content: center;
   align-items: center;
   
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 100%;

}.footer_1_card{
   display: flex;
    align-items: center;
    flex-direction: column;
   
    margin: 20px;
    padding: 50px !important;
    text-align: justify;
    width: 5% !important;
    justify-content: center;
}.icon_footer1{
    background-color: #e69f10;
    padding: 20px;
    color: #000000;
    font-size: 80px;
    border-radius: 50%;
 }.footer_2_card{
 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    width: 10% !important;
    justify-content: center;

 }.enlaces{
   padding-top: 35PX;
   text-align: left !important;
    display: flex;
   
    justify-content:left !important;
    flex-direction: column;
    align-items:center;
 }

.link{
text-decoration: none;
color: aliceblue;

margin-top: 20px;
border-bottom: solid  #e69f10;

}.link:hover{
background-color: #e69f10;
text-align: center;
color: #000000;
padding: 5px;
width: 100px;
}.footer1_link{
    display: flex;
    justify-content:left;
   align-items: center;
    flex-direction: column;
    width: 300px;
}.footer1_link p>.icon{
   
background-color: #e69f10;
color: #000000;
padding: 4px;
margin-top: 10px;
margin-right: 10px;
border-radius: 50%;
}.footer1_link >p{
   margin-bottom: 40px;
    }.footer2{
      background-color:  #e69f10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 10px;
      height: 20px;
    }.footer_2_card2{
font-size: 30px;
    }
    
    
    @media(max-width:1600px){
        .aboutus_footer> div{
            font-size: 15px;
           
        }.aboutus_footer div >.icon {
           display: flex;
           justify-content: center;
           align-items: center;
            width: 100px;
            font-size: 40px;
            height: 50px;
            margin-right:0;
           
        }
    }@media(max-width:1000px){
        .aboutus_footer{
            padding: 40px;
             height: 100%;
             width: 100%;
             flex-direction: column;  
         }.aboutus_footer>div{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            color: aliceblue;
            width: 90%;
      
        }.footer_1>p{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            width: 40%; 
          
        }
    }