.presupuesto {
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* background-color: #0df576; */
    font-size: 8px !important;
    width: 80%;
    height: 100%;
    color: black;
}

.presupuestos_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;


}

.presupuesto>h2 {
    color: black;
    padding: 20px;
    font-weight: bolder;
}.RE_PRE1{
    position:absolute !important;
    color: aliceblue !important;
    font-size: 30px ;
    top:38%;
    left: 33%;
    
}.RE_PRE0{
    
    top:10%;
    position:absolute !important;
    color: aliceblue !important;
    font-size: 35px ;
    font-weight: bolder;
    left: 10%;
}.RE_PRE2{
    position:absolute !important;
    top:50%;
    position:absolute !important;
    color: aliceblue !important;
    font-size: 30px ;
    top:40%;
    left: 4%;
}.RE_PRE3{
    position:absolute !important;
    left: 4%;
    color: aliceblue !important;
    font-size: 30px ;
    top:59%;
}.RE_PRE4{
    position:absolute !important;
    top:88%;
    left: 4%;
    color: aliceblue !important;
    font-size: 30px ;
}

.presupuestos_cards1 {
    margin: 20px;
}

.presupuestos_cards1 {
    color: white !important;
    font-size: 12px;
    text-align: left;
    background-color: black !important;
}

.item {
    background-color: #e69f10 !important;
    color: black !important;
    font-weight: bolder;
}

.link_card {
    text-decoration: none;
    
    color: white;
    padding: 4px;
}

.Autos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: white !important;
    text-align: left;
    font-size: 12px;


}

.autos_card1 {
    color: white !important;
    position: relative;
    margin: 20px;
    width: 800px;

    background-color: #000000 !important;
}

.vehicule {
    text-decoration: none;
   
    color: rgb(255, 255, 255);
    padding: 8px;
}

.autos-icon {
    position: absolute;
    top: 30%;
    left: 60%;
    border-radius: 5px;
    background-color: grey;
    color: #000000 !important;
    padding: 10px;
    font-size: 40px !important;
}

.servicios_adicionales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 450px;
    margin-bottom: 40px;

}

.servicios_adicionales_but {
    width: 100px !important;
    padding: 20px !important;

}

.servicios_adicionales_card {
    margin: 20px;
    font-size: 10px;
}

.Calcular_costo {
    position: absolute;
    top: 30%;
    right: 65%;
    margin-top: 40px;
    text-decoration: none;
    padding: 5px;
    background-color: #e69f10;
    color: aliceblue;
}

.Operacion_Presupuesto {
    
    position: absolute;
    top: 85%;
    margin-top: 10% !important;
    background-color: #000000;
    border-radius: 5px;
    font-size: 15px;
    color: aliceblue;
    width: 65% !important;
    height: 250px;
    left: -2px;



}.Calcular_costo_pre{
    color: grey;
    font-size: 10px;
}

.services_card2 {
    text-align: left;
}


.label_presu {
    position: absolute !important;
    left: 25% !important;
    margin-right: 20px !important;
}

.presupuesto_section1 {
    
    display: flex !important;
    justify-content: left !important;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 2%;


}

.pre {
    color: white !important;
}


.presupuesto_section1>h2 {
    position: absolute;
    top: 3%;
    left: 0;
    font-size: 30px !important;
    color: #000000;
    text-align: left;
}

.presupuesto_section2 {
    color: white !important;
  
    display: flex !important;
    justify-content: left !important;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 2%;

}

.presupuesto_section2>h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px !important;
    color: #000000;
    text-align: left;
    padding: 20px;
}

.presupuesto_section3 {
    
    display: flex !important;
    justify-content: left !important;
    align-items: center;
    flex-direction: column;
    height: 1000px !important;

    margin-bottom: 2%;
    padding-top: 8%;

}

.presupuesto_section3>h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px !important;
    color: #000000;
    text-align: left;
    padding: 20px;
}

.presu_secti2_title {
    border-bottom: 3px solid #e69f10;
    padding-bottom: 5px !important;
    width: 100% !important;
    color: rgb(255, 255, 255) !important;

}

.mb-2 {
    color: rgb(255, 255, 255) !important;
}


.add_services {
    position: relative !important;
    background-color: #0c7fd0;
    color: white !important;
    width: 30%;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 2px;
    font-size: 10px;
}

.add_services2 {
    position: relative !important;
    background-color: #0c7fd0;
    width: 30%;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 2px;
    font-size: 10px;
}


.add_sec1 {
    position: absolute !important;
    left: 40%;

    color: white;

}

.add_sec2 {
    position: absolute !important;
    left: 40%;
    bottom: 20%;
    color: white;

}

.add_check {
    position: absolute;
    left: 10%;
}.label_presu2{
    position: relative;
    left: 20px;
}